<h3>Inquiry</h3>

<form [formGroup]="getCustomerScoreForm">
  <div class="form-group">

    <div class="form-group">
      <label for="idNumber">ID Number</label>
      <input type="text" formControlName="idNumber" class="form-control" />
      <!--<div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">-->
      <!--<div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>-->
    </div>
    <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Invoke API
    </button>
    <button [disabled]="loading" class="btn btn-primary" type="reset">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Clear
    </button>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </div>
</form>

<div>
  <!-- <p *ngIf="!userDetails"><em>Loading...</em></p>-->
  <table class='table table-striped' aria-labelledby="tableLabel" id="credit-table">
    <thead>
      <tr>
        <th>User Name</th>
        <th>First Name</th>
        <th>Sur name</th>
        <th>ID Number</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let credits of creditInquiries">
        <td>{{ userDetails.username }}</td>
        <td>{{ userDetails.firstName }}</td>
        <td>{{ userDetails.surName }}</td>
        <td>{{ credits.idNumber }}</td>
        <td>{{ credits.score }}</td>
      </tr>
    </tbody>
  </table>
</div>

