<p>Add Company</p>


<form [formGroup]='companyFormGroup' (ngSubmit)='addCompany()' novalidate>
  <input class="form-control" type="text" formControlName='id' [hidden]="true"  />
  <input class="form-control" type="text" formControlName='name' placeholder="Name" />
  <input class="form-control" type="text" formControlName='address' placeholder="Address" />
  <input class="form-control" type="text" formControlName='telephone' placeholder="Telephone" />
  <input class="form-control" type="text" formControlName='balance' placeholder="Balance" />

  <button class='btn btn-info'>Add/Update</button>
  <button type="reset" class='btn btn-info'>Cancel</button>
</form>

<br>
<br>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Telephone</th>
      <th>Balance</th>
      <th>Address</th>
    </tr>
  </thead>

  <tr *ngFor="let company of companyDetails">
    <!--<td *ngIf='!hideColumn'>
      {{company.id}}
    </td>-->
    <td>
      {{company.name}}
    </td>
    <td>
      {{company.telephone}}
    </td>
    <td>
      {{company.balance}}
    </td>
    <td>
      {{company.address}}
    </td>
    <td> <input type="button" value="Edit" (click)="onSelectedRow(company)" /></td>
  </tr>
</table>
